.page-container {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    /* min-height: 88.5vh; */
    /* min-height: 100%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    color: #003366;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.icon {
    width: 150px;
    margin-top: 20px;
}

.section-services-title {
    text-align: center;
    margin-top: 60px;
    color: #003366;
    font-size: 2rem;
    font-weight: 700;
}

.services-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 40px; */
    text-align: center;
}

.service-card {
    background-color: #fff;
    border-radius: 12px;
    padding: 30px 20px;
    /* margin: 15px; */
    width: 250px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card img {
    width: 60px;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #003366;
    /* margin-bottom: 10px; */
    font-size: 1.2rem;
}
